
.btn-group{
  margin: auto;
  width: -webkit-fill-available;
  padding: 1.625rem 0rem;
}

h2{
  background-color: #ffb4b4;
  padding:2.25rem;
  margin:auto;
  font-weight: 700;
  text-align: center;
}

hr{
  border-top: 2px dashed #8c8b8b;
  margin: 2.625rem 0rem;
}

.feed{
  width: 80%;
  margin:auto;
  padding:0.625rem;
}

form {
  background-color: #ffe8e8;
  padding: 2.625rem 8.625rem;
  align-items: center;
}
